@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body style="size: 1040px; height: 960px; background: url('https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1776&q=80') no-repeat; background-size: cover ">
</body>
<div class="text-center">
    <br />
    <br />
    <br />
    <br />
    <h1 class="display-1 font-weight-bold">Welcome to</h1>
    <h4 class="display-2 font-weight-bold text-primary">AllRecipes</h4>
    <h6 class="text-size-16 text-weight-400 lh-copy text-align-center text-medium mb40">
        Search for, add, and edit recipes and modify categories
    </h6>
</div>
