@page
@model RecipeRazor.Pages.SuccessfulModel
@{
}
<h1>Successfully executed!</h1>
<form method="post">
<input name="submit" type="submit" value="Main menu" />
<input name="submit" type="submit" value="Recipes" />
<input name="submit" type="submit" value="Categories" />
</form>

